<html>
<head>
       <title>Lena's blog</title>
   </head>
   <body>
     <div>
<h1> That's neat! </h1>
<p> My first blog entry in HTML </p>
     </div>
        <em>Hi there!</em>
        <em>It works!</em>
        <ul><li>Banana</li><li>Strawberries</li></ul><ul><li>Apples</li><li>Peaches</li></ul>
        <div>
          {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
        </div>
    </body>
</html>
